@font-face {
  font-family: "Karbon Regular";
  src: url("./fonts/catsAlphabet.woff") format("woff");
  font-weight: normal;
  font-display: swap;
}

.cats-alphabet {
  font-family: "Karbon Regular", Arial, serif;
}
